<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="first name" name="first_name" required>
        <label for="floatingInput">first name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="last name" name="last_name" required>
        <label for="floatingInput">last name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="Email" name="email" required>
        <label for="floatingInput">Email</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.phone_number}}" placeholder="phone number" name="phone_number" required>
        <label for="floatingInput">phone</label>
    </div>
</div>
<div class="col-12">
    <div class="form-floating mb-3">
        <textarea  class="form-control" id="floatingInput" placeholder="comment" name="comment" style="height: 200px;">{{this.comment}}</textarea>
        <label for="floatingInput">comment</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">save</button>
</div>